{%- extends 'page.html' %}

{%- from "view_records/macros/data.html" import preview_info_box,view_schema_box %}
{%- from "records/macros/metadata.html" import creators_list %}


{% block content %}
    <script>
    </script>
    <div class="container">

        <div class="left-section">
            <div id="view-header">
{#                Created {{ view.created }}#}

                <div class="view-header-child" id="type">View</div>
                <div class="view-header-child" id="access"><i class="lock open icon"></i>Open</div>


            </div>
            <h1>{{ metadata.name }}</h1>
            <a id="creator">{{ metadata.owner.username }}</a>
            <p style="white-space: pre-line;">{{ metadata.description }}</p>
            <h2>Data</h2>
            {{ preview_info_box(data) }}
            {{ view_schema_box(metadata) }}
        </div>
        <div class="right-section">
            {%- include "/view_records/details/side_bar.html" %}


        </div>
    </div>

{% endblock %}
