{%- extends 'page.html' %}

{%- from "view_records/macros/data.html" import preview_info_box,view_schema_box %}
{%- from "records/macros/metadata.html" import creators_list %}


{% block content %}
    <script>
    </script>
    <div class="ui container">
        <div class="ui relaxed grid mt-5">
        <div class="two column row top-padded">
            <div class="sixteen wide tablet eleven wide computer column main-record-content">
            <div id="view-header" class="ui">
{#                Created {{ view.created }}#}

                {% if type == "view" %}
                    <div class="view-header-child type" id="type">Data Source</div>
                {% else %}
                    <div class="view-header-child type" id="type">Data Set</div>
                {% endif %}

                <div class="view-header-child" id="access"><i class="lock open icon"></i>Open</div>


            </div>
            {% if type == "view" %}
                <h1>{{ metadata.name }}</h1>
            {% else %}
                <h1>{{ metadata.identifiers[0].titles[0].title }}</h1>
            {% endif %}
            <a id="creator">{{ creators_list(database.identifiers[0].creators)}}</a>
            <p style="white-space: pre-line;">{{ metadata.description }}</p>
            <h2>Data</h2>
            {{ preview_info_box(view, data, page, total_pages) }}
            {% if type == "view" %}
                {{ view_schema_box(metadata) }}
            {% endif %}
        </div>

        <div class="sixteen wide tablet five wide computer column sidebar">
            {%- include "/view_records/details/side_bar.html" %}

        </div>
            </div>
        </div>
    </div>

{% endblock %}
