# auxiliary files
cache/
.lock

# environment
chroot/
venv/
chroot.files
chroot.packages.install
chroot.packages.live

# configuration files
config/binary
config/bootstrap
config/chroot
config/common

# artifacts
*.iso
binary/
.build/
binary.*
live-image-*

# logs
build.log
config.log
*-log*
