METADATA_DB=fda
METADATA_USERNAME=postgres
METADATA_PASSWORD=postgres
BROKER_USERNAME=fda
BROKER_PASSWORD=fda
WEBSITE=http://example.com
MAIL_FROM=Database Repository <noreply@example.com>
MAIL_REPLY_TO=Admin <somebody@example.com>
MAIL_VERIFY=true
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
JWT_ISSUER=dbrepo
JWT_SECRET=secret
JWT_EXPIRATION=86400000
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
EUREKA_SERVER=http://discovery-service:9090/eureka/
SHARED_FILESYSTEM=/tmp