METADATA_DB=fda
METADATA_USERNAME=postgres
METADATA_PASSWORD=postgres
BROKER_USERNAME=fda
BROKER_PASSWORD=fda
BROKER_CONSUMERS=2
WEBSITE=http://example.com
TOKEN_MAX=5
LOGO=/path/to/logo.png
MAIL_FROM="Database Repository <noreply@example.com>"
MAIL_REPLY_TO="Admin <somebody@example.com>"
MAIL_VERIFY=false
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
JWT_ISSUER=dbrepo
JWT_SECRET=secret
JWT_EXPIRATION=86400000
EUREKA_SERVER=http://discovery-service:9090/eureka/
SHARED_FILESYSTEM=/tmp
