METADATA_DB=fda
METADATA_USERNAME=root
METADATA_PASSWORD=dbrepo
BROKER_USERNAME=fda
BROKER_PASSWORD=fda
BROKER_CONSUMERS=2
WEBSITE=http://example.com
TOKEN_MAX=5
MAIL_FROM="Database Repository <noreply@example.com>"
MAIL_REPLY_TO="Admin <somebody@example.com>"
MAIL_VERIFY=false
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
JWT_ISSUER=dbrepo
JWT_SECRET=secret
JWT_EXPIRATION=86400000
SHARED_FILESYSTEM=/tmp
LOG_LEVEL=trace # error, warning, info, debug, trace
DEFAULT_ROLES=ROLE_RESEARCHER
SUPERUSERS=user1,user2
ELASTIC_PASSWORD=elastic
DOI_URL=https://doi.org
DATACITE_URL=https://api.datacite.org
DATACITE_PREFIX=<prefix>
DATACITE_USERNAME=<username>
DATACITE_PASSWORD=<password>