HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Generated ###
.env
ready
schema.xsd
final/
build/
*.tar
tmp.yaml
.scannerwork/
.docker/config/
.docker/dist.tar.gz
.cache/

#### Docs ###
.docs/.swagger/dist/
.docs/.swagger/site/
site/

.$*
dbrepo-somapper/

### Notebooks ###
.pytest_cache/
__pycache__/

### Previous directories ###
fda-analyse-service/
fda-authentication-service/
fda-broker-service/
fda-container-service/
fda-database-service/
fda-discovery-service/
fda-gateway-service/
fda-identifier-service/
fda-metadata-db/
fda-metadata-service/
fda-query-service/
fda-search-db/
fda-semantics-service/
fda-table-service/
fda-ui/

### demo ###
.demo

### Environment ###
.env
.s3cfg
venv/

### scanning ###
.trivy/trivy-*.json

### macOS ###
.DS_Store

### IDE ###
.git.bfg-*

### Docs ###
swagger.json
container.md
query.md
table.md
.git.bfg-report/
.planning/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
