HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# generated
ready
schema.xsd
final/
build/
swagger/

# docs
.docs/.swagger/dist/
.docs/.swagger/site/
site/
final/

.$*

# Notebooks
.jupyter/
.pytest_cache/
__pycache__/

# docs
site/

# Previous directories
fda-analyse-service/
fda-authentication-service/
fda-broker-service/
fda-container-service/
fda-database-service/
fda-discovery-service/
fda-gateway-service/
fda-identifier-service/
fda-metadata-db/
fda-metadata-service/
fda-query-service/
fda-search-db/
fda-semantics-service/
fda-table-service/
fda-ui/

# demo
.demo

# Generated
ready
final/

# new
lib/

# crt
*.crt
*.key
*.p12

# Environment
.env
venv/

# X509
root.crt
intermediate.crt

# scanning
.trivy/trivy-*.json

# Debug
debug.txt

# macOS
.DS_Store

# IDE
venv/
.git.bfg-*

# Docs
swagger.json
container.md
database.md
query.md
table.md
.git.bfg-report/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
