[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "*"
mkdocs-material = "*"
mkdocs-with-pdf = "*"
mkdocs-material-extensions = "*"
py-dotenv = "*"
python-dotenv = "*"
twine = "*"
sphinx = "*"
furo = "*"
pydantic = "*"
mike = "*"
anybadge = "*"
gunicorn = "*"
build = "*"

[dev-packages]
sphinx-markdown-builder = "*"
rdflib = "*"
boto3 = "*"
build = "*"
setuptools = "*"

[requires]
python_version = "3"
