[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "==1.5.3"
mkdocs-material = "==9.5.17"
mkdocs-with-pdf = "==0.9.3"
mkdocs-material-extensions = ">=1.0.3"
py-dotenv = ">=0.1"
python-dotenv = "==1.0.0"
build = "==1.1.1"
twine = "==5.0.0"
furo = "==2024.1.29"
requests = "==2.31.0"
pika = "==1.3.2"
pydantic = "==2.6.4"
tuspy = "==1.0.3"
mike = "==2.0.0"
anybadge = "==1.14.0"
gunicorn = "*"

[dev-packages]
sphinx-markdown-builder = "*"

[requires]
python_version = "3.11"
