# IDE
.idea/

# generated
dist/
dbrepo.egg-info/
build/
htmlcov/
tmp-*
report.xml

# debug
debug.py

# secrets
.pypirc

# coverage
coverage.*
.coverage

# environment
.env
.venv/
venv/

# secrets
../.pypirc