[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "~=2.31"
pika = "*"
pydantic = "*"
tuspy = "*"
pandas = "*"

[dev-packages]
build = "*"
setuptools = "*"
twine = "*"
coverage = "*"
pytest = "*"
requests-mock = "*"
furo = "*"

[requires]
python_version = "3.11"
