{%- macro preview_info(table, table_data) %}
{% if table_data and table_data|length > 0 %}
    <table class="ui striped table files fluid open" id="preview_table">
    <thead>
            <tr>
                {% for column in table_data[0].keys() %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
    <tbody>
        {% for row in table_data %}
            <tr>
            {% for value in row.values() %}
                        <td>{{ value }}</td>
                    {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% endif %}
{%- endmacro %}


{% macro preview_info_box(table, table_data) %}
    <div class="ui accordion">
        <div class="active title m-0">Data<i class="dropdown angle icon" aria-hidden="true"></i></div>

        <div class="active content pt-0">
         {{ preview_info(table, table_data) }}
        </div>
    </div>
{%- endmacro %}

{% macro dataset_list(subsets) %}
    <table class="ui striped table files open">
    <thead>
        <tr>
            <th>Name</th>
            <th>
                <a role="button" class="ui compact mini button right floated" href="">
                  <i class="file archive icon button" aria-hidden="true"></i>Download all
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for subset in subsets %}
            <tr>
                <td>{{ subset.identifiers[0].titles[0].title }}</td>
                <td>
                    <span>
                        <a role="button" class="ui compact mini button right floated">
                            <i class="download icon" aria-hidden="true"></i>Download
                        </a>
                        <a role="button" class="ui compact mini button preview-link right floated" href="/subset/{{ subset.database_id }}/{{ subset.id }}">
                            <i class="info icon" aria-hidden="true"></i>Open
                        </a>
                        <a role="button" class="ui compact mini button preview-link right floated subset_preview_button" data-value="{{ subset.id }}" data-database_id="{{ subset.database_id }}" data-name="{{ subset.identifiers[0].titles[0].title }}">
                            <i class="eye icon" aria-hidden="true"></i>Preview
                        </a>

                    </span>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
{%- endmacro %}

{% macro datasource_list(views) %}
    <table class="ui striped table files fluid open">
    <thead>
        <tr>
            <th>Name</th>
            <th>
                <a role="button" class="ui labeled icon compact mini button right floated" href="">
                  <i class="file archive icon button" aria-hidden="true"></i>Download all
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for view in views %}
            <tr>
                <td>{{ view.name }}</td>
                <td>
                    <span>
                        <a role="button" class="ui labeled icon compact mini button preview-link right floated preview_button" data-value="{{ view.id }}" data-database_id="{{ view.database_id }}" data-name="{{ view.name }}">
                          <i class="eye icon" aria-hidden="true"></i>Preview
                        </a>
<!--                        <a role="button" class="ui labeled icon compact mini button right floated">-->
<!--                            <i class="download icon" aria-hidden="true"></i>Download-->
<!--                        </a>-->
                        <a role="button" class="ui labeled icon compact mini button preview-link right floated" href="/view/{{ view.database_id }}/{{ view.id }}">
                          <i class="info icon" aria-hidden="true"></i>Open
                        </a>


                    </span>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
{%- endmacro %}


{% macro datasource_list_box(views) %}
        <div class="ui accordion">
            <div class="active title m-0">Data Sources<i class="dropdown angle icon" aria-hidden="true"></i></div>

            <div class="active content pt-0">
             {{ datasource_list(views) }}
            </div>
        </div>
{%- endmacro %}

{% macro dataset_list_box(subsets) %}
        <div class="ui accordion">
            <div class="active title m-0">Datasets<i class="dropdown angle icon" aria-hidden="true"></i></div>

            <div class="active content pt-0">
                {{ dataset_list(subsets) }}
            </div>
        </div>
{%- endmacro %}
