:root,
[data-md-color-accent=indigo] {
    --md-primary-fg-color: #006699;
    --md-accent-fg-color: #005c8a /* darken 10% */;
    --md-primary-fg-color--dark: #00537c /* darken 10% */;
}

figure img.img-border {
    border: 1px solid #b3b3b3;
}

.md-main .md-content a:not(.action-button),
.md-main .md-content a:not(.action-button) {
    color: var(--md-typeset-color);
    border-bottom: 2px solid var(--md-primary-fg-color);
}

.md-main .md-content a:not(.action-button):focus,
.md-main .md-content a:not(.action-button):hover {
    color: var(--md-typeset-color);
    border-bottom: 2px solid var(--md-primary-fg-color--dark);
}

.md-banner {
    background-color: var(--md-primary-fg-color--dark);
}

[data-md-component=announce] .md-banner__inner {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}
