[
  {
    rabbit, [
      {forced_feature_flags_on_init, [quorum_queue]}
    ]
  },
  {
    rabbitmq_auth_backend_ldap,
    [
      {
        tag_queries, [
          {
            administrator, {in_group_nested, "cn=system,ou=users,dc=dbrepo,dc=at", "member"}
          },
          {
            management, {constant, false}
          }
        ]
      }
    ]
  }
].