[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flasgger = "*"
flask = "~=2.0"
flask-cors = "~=4.0"
flask-jwt-extended = "~=4.5"
prometheus-flask-exporter = "*"
flask-sqlalchemy = "~=3.0"
opensearch-py = "~=2.2"
python-dotenv = "~=1.0"
sqlalchemy-utils = "*"
flask_httpauth = "*"
jwt = "~=1.3"
rdflib = "*"
grafana-client = "*"
dbrepo = { path = "./lib/dbrepo-1.12.0.tar.gz" }
gunicorn = "*"
ecs_logging = "*"

[dev-packages]
coverage = "*"
pytest = "*"
requests-mock = "*"
jwt = "~=1.3"
testcontainers-opensearch = "*"

[requires]
python_version = "3.11"
