# ATTENTION: remove the last slash for the gateway url
#   - CORRECT: http://localhost:9095
#   - WRONG:   http://localhost:9095/
NODE_ENV=dev
API="http://localhost:9095"
BROKER_USERNAME=fda
BROKER_PASSWORD=fda
SANDBOX=false
SHARED_FILESYSTEM=/tmp
CLIENT_SECRET=
