[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
mariadb = "*"
ecs_logging = "*"
dbrepo = { path = "./lib/dbrepo-1.10.2.tar.gz" }

[dev-packages]
coverage = "*"
pytest = "*"
testcontainers-mysql = "*"
requests-mock = "*"

[requires]
python_version = "3.11"
