{%- extends 'page.html' %}

{%- from "records/macros/data.html" import preview_info_box,dataset_list_box, datasource_list_box %}
{%- from "records/macros/metadata.html" import creators_list %}


{% block content %}

    <div class="container">


        <div class="left-section">
            <div id="static-header">{{ _('Created') }} {{ database.identifiers[doi_id].publication_day }}.{{ database.identifiers[doi_id].publication_month }}.{{ database.identifiers[doi_id].publication_year }}
                <div id="access"><i class="lock open icon"></i>Open</div>
            </div>
            <h1>{{ database.name }}</h1>
            <a id="creator">{{ creators_list(database.identifiers[0].creators)}}</a>
            <p style="white-space: pre-line;">{{ database.identifiers[0].descriptions[0].description }}</p>
            <h2>{{ _('Data') }}</h2>
            {{ preview_info_box(view, data) }}
            {{ datasource_list_box(database.views) }}
            {{ dataset_list_box(queries) }}

            <div class="ui grid">

            </div>
        </div>
        <div class="right-section">
            {%- include "/records/details/side_bar.html" %}

        </div>

    </div>

{% endblock %}
