{%- extends 'page.html' %}

{%- from "records/macros/data.html" import preview_info_box,dataset_list_box, datasource_list_box %}
{%- from "records/macros/metadata.html" import creators_list %}


{% block content %}

    <div class="ui container">
    <div class="ui relaxed grid mt-5">
    <div class="two column row top-padded">
        <div class="sixteen wide tablet ten wide computer column main-record-content">
            <span id="static-header" class="ui">
                {{ _('Created') }} {{ identifier.publication_day }}.
                {{ identifier.publication_month }}.
                {{ identifier.publication_year }}

                <span id="access">
                    <i class="lock open icon"></i>Open
                </span>
            </span>

            <h1>{{ database.name }}</h1>
            <a id="creator">{{ creators_list(database.identifiers[0].creators)}}</a>
            <p style="white-space: pre-line;">{{ database.identifiers[0].descriptions[0].description }}</p>
            <h2>{{ _("Data") }}</h2>
            {{ preview_info_box(view, data) }}
            {{ datasource_list_box(database.views) }}
            {{ dataset_list_box(queries) }}

        </div>
        <div class="sixteen wide tablet five wide computer column sidebar">
            {%- include "/records/details/side_bar.html" %}
        </div>
        </div>
    </div>
    </div>

{% endblock %}
