## Cache
__pycache__
.pytest_cache/

# OS
.DS_Store

# Environment
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*

# Test
report.xml
coverage.html
coverage.txt

# Build
dist/
build/
*.egg
*.egg-info/
.tox/

# IDE
.cache/
.idea/
docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover