[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
exceptiongroup = "*"
flask = "*"
flasgger = "*"
gevent = "*"
prometheus-flask-exporter = "*"
numpy = "*"
pandas = "*"
messytables = "*"
minio = "*"

[dev-packages]
coverage = "*"
pytest = "*"
testcontainers-minio = "*"

[requires]
python_version = "3.9"
