[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
exceptiongroup = "*"
flasgger = "*"
flask = "*"
flask-cors = "*"
flask-jwt-extended = "*"
requests = "*"
prometheus-flask-exporter = "*"
gevent = "*"
gunicorn = "*"
flask_httpauth = "*"
jwt = "*"
greenlet = "*"
numpy = "*"
pandas = "*"
minio = "*"
pydantic = "*"
dbrepo = {path = "./lib/dbrepo-1.7.3.tar.gz"}
opensearch-py = "*"

[dev-packages]
coverage = "*"
pytest = "*"
requests-mock = "*"
testcontainers-minio = "*"
testcontainers-opensearch = "*"

[requires]
python_version = "3.11"
