{%- macro preview_info(table, table_data) %}
    <table class="ui striped table files fluid open" id="preview_table">
    <thead>
            <tr>
                {% for column in table_data[0].keys() %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
    <tbody>
        {% for row in table_data %}
            <tr>
            {% for value in row.values() %}
                        <td>{{ value }}</td>
                    {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
    </table>
{%- endmacro %}

{% macro preview_info_box(table, table_data) %}
     <div class="ui accordion">
        <div class="active title m-0">Dataset<i class="dropdown angle icon" aria-hidden="true"></i></div>

        <div class="active content pt-0">
         {{ preview_info(table, table_data) }}
        </div>
    </div>
{%- endmacro %}

{% macro schema_table(view) %}
    <table class="ui striped table files fluid open" id="dataset_list">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Size</th>
        </tr>
    </thead>
    <tbody>
            {% for column in view.columns %}
            <tr>
                <td>{{ column.name }}</td>
                <td>{{ column.type.value }}</td>
                <td>{% if column.size == None %}
                    {% else %}
                        {{ column.size }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
{%- endmacro %}

{% macro view_schema_box(view) %}
    <div class="ui accordion">
        <div class="active title m-0">Schema<i class="dropdown angle icon" aria-hidden="true"></i></div>

        <div class="active content pt-0">
         {{ schema_table(view) }}
        </div>
    </div>
{%- endmacro %}
