{%- macro preview_info(table, table_data, page, total_pages) %}
{% if table_data and table_data|length > 0 %}
    <table class="ui striped table files fluid open" id="preview_table">
    <thead>
            <tr>
                {% for column in table_data[0].keys() %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
    <tbody>
        {% for row in table_data %}
            <tr>
            {% for value in row.values() %}
                        <td>{{ value }}</td>
                    {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
    </table>
<div class="ui center aligned basic segment">
  <div class="ui pagination menu">

    {% if page > 1 %}
      <a class="item" href="?page={{ page - 1 }}">← Prev</a>
    {% else %}
      <div class="disabled item">← Prev</div>
    {% endif %}

    {% for p in range(1, total_pages + 1) %}
      {% if p == page %}
        <div class="active item">{{ p }}</div>
      {% else %}
        <a class="item" href="?page={{ p }}">{{ p }}</a>
      {% endif %}
    {% endfor %}

    {% if page < total_pages %}
      <a role="button" class="item subset_pagination_button" data-value="{{ table }}" >Next →</a>
    {% else %}
      <div class="disabled item">Next →</div>
    {% endif %}

  </div>
</div>
{% endif %}
{%- endmacro %}

{% macro preview_info_box(table, table_data, page, total_pages) %}
     <div class="ui accordion">
        <div class="active table-title title m-0">Dataset<i class="dropdown angle icon" aria-hidden="true"></i></div>

        <div class="active content pt-0">
         {{ preview_info(table, table_data, page, total_pages) }}
        </div>
    </div>
{%- endmacro %}

{% macro schema_table(view) %}
    <table class="ui striped table files open">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Size</th>
        </tr>
    </thead>
    <tbody>
            {% for column in view.columns %}
            <tr>
                <td>{{ column.name }}</td>
                <td>{{ column.type.value }}</td>
                <td>{% if column.size == None %}
                    {% else %}
                        {{ column.size }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
{%- endmacro %}

{% macro view_schema_box(view) %}
    <div class="ui accordion">
        <div class="active table-title title m-0">Schema<i class="dropdown angle icon" aria-hidden="true"></i></div>

        <div class="active content pt-0">
         {{ schema_table(view) }}
        </div>
    </div>
{%- endmacro %}
