[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "~=2.0"
opensearch-py = "~=2.2"
python-dotenv = "~=1.0"
testcontainers-opensearch = "*"
pytest = "*"
dbrepo = {path = "./lib/dbrepo-1.6.2.tar.gz"}
rdflib = "*"

[dev-packages]
coverage = "*"
pytest = "*"

[requires]
python_version = "3.11"
