API="http://localhost"
BASE_URL="http://localhost:3001"
BROKER_USERNAME="fda"
BROKER_PASSWORD="fda"
DBREPO_CLIENT_SECRET="MUwRc7yfXSJwX8AdRMWaQC3Nep1VjwgG"
DEFAULT_PID_PUBLISHER="Technische Universität Wien"
DOI_URL="https://doi.org"
SEARCH_USERNAME="admin"
SEARCH_PASSWORD="admin"
LOGO="/logo.png"
SEARCH="http://localhost:3001/retrieve"
SHARED_FILESYSTEM="/tmp"
TITLE="Database Repository"
VERSION="latest"
UPLOAD_ENDPOINT="http://localhost:1080/files/"
