API="http://localhost"
BASE_URL="http://localhost:3001"
BROKER_USERNAME="fda"
BROKER_PASSWORD="fda"
DBREPO_CLIENT_SECRET="MUwRc7yfXSJwX8AdRMWaQC3Nep1VjwgG"
DEFAULT_PID_PUBLISHER="Technische Universität Wien"
DOI_URL="https://doi.org"
ELASTIC_USERNAME="elastic"
ELASTIC_PASSWORD="elastic"
LOGO="/logo.png"
SEARCH="http://localhost:3001/retrieve"
SHARED_FILESYSTEM="/tmp"
TITLE="Database Repository"
VERSION="latest"
GIT_HASH="deadbeef"
